* {
  font-family: "Segoe UI", Roboto;
}

span {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input {
  padding: 15px;
  font-size: 18px;
  border-radius: 20px;
  outline: none;
}

h4 {
  text-align: center;
}

.wrong {
  color: red;
}

.right {
  color: #00dd00;
}
